* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #FEE255;
    --cor-secundaria: #FFDCE0;
    --cor-terciaria: #FD969A;
    --cor-fundo: #f0f0f0;
    --cor-titulo: #FE6A86;
    --preto-titulo: #2c2c2c;
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Roboto', sans-serif;
}

body {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    background-color: var(--cor-fundo);
    color: var(--preto-titulo);
}

section {
    padding: 1em 10%;
}

header {
    padding: 1em 10%;
    background-color: var(--cor-secundaria);
    color: var(--cor-titulo);
}

a {
    color: var(--cor-titulo);
}

a:hover {
    color: #b8b8ff;
}

h2 {
    font-size: 32px;
    padding-bottom: 1em;
    color: var(--cor-titulo);
    text-align: center;
}

h3 {
    font-size: 26px;
}

.home-titulo{
    text-align: center;
    padding: 1em;
    color: var(--cor-titulo);
}

.cabecalho-lista {
    display: none;
}

.conteudo-home img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: var(--cor-titulo);
    box-shadow: 10px 10px 20px 0px var(--cor-terciaria);
}

.projetos-lista {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    list-style-type: none;
    gap: 16px;
    text-align: left;
}

.projetos-lista li {
    grid-column: span 12;
}

.projetos-lista li img {
    width: 100%;
}

.conteudo-projetos {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--cor-terciaria);
    padding-top: 120px;
    padding-bottom: 120px;
}

.lista-habilidades {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.lista-habilidades li {
    background-color: var(--cor-terciaria);
    padding: 1em;
    border-radius: 1em;
}

.lista-habilidades li h3 {
    padding-top: 1em;
    padding-bottom: .5em;
}

.conteudo-habilidades h2 {
    text-align: center;
}

.conteudo-contato {
    background-color: var(--cor-secundaria);
    text-align: center;
    padding: 1em;
}

.redes-sociais {
    padding-bottom: 1em;
}

.redes_sociais_link {
    text-decoration: none;
    border: 2px solid #FD969A;
    border-radius: 8px;
    padding: 15px 30px;
}

@media screen and (min-width: 720px) {

    .conteudo-home {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10em;
        height: 80vh;
    }

    .conteudo-home img {
        height: 400px;
        width: 300px;
    }

    .cabecalho-lista {
        display: flex;
        gap: 2em;
        list-style-type: none;
    }

    .cabecalho-lista li a {
        text-decoration: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .conteudo-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .projetos-lista li:nth-child(1) {
        grid-column: 2 / span 3;
    }

    .projetos-lista li:nth-child(2) {
        grid-column: 5 / span 4;
    }

    .projetos-lista li:nth-child(3) {
        grid-column: 9 / span 3;
    }

    .projetos-lista li img {
        height: 300px;
        object-fit: cover;
    }

    .lista-habilidades {
        flex-direction: row;
    }

    .lista-habilidades li {
        height: 300px;
        flex: 1;
    }
}

